<fieldset>
<%= f.autocomplete_field :food_item_name, autocomplete_food_item_name_ingredients_path %>
  
      <%= f.text_field :volume %>
      <%= f.hidden_field :_destroy %>
      <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, '#', class: "remove_fields" %>
      <br>
</fieldset>